hr {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
    width: 100%;
}

.hrBrown {
    background-color: rgb(153, 51, 51);
}

.hrBlue {
    background-color: blue;
}

img {
    margin-left: 37px;
    margin-bottom: 3px;
}