/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

// input.ng-invalid.ng-touched {
//     border: 1px solid red;
//   }
.is-notValid {
    color: red;
}

.is-invalid {
  border: 1px solid red;
}

input[type=text]{
  height: 30px;
}
input[type=password]{
  height: 30px;
}

.button{
  text-align: center;
    border: 0.5px solid #d1dcdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: small;
    font-family: arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: none !important;
    box-shadow: 1px 1px 1px #79797E !important;
    font-weight: bold;
    color: black !important;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(#e5e5e5));
    background-image: -webkit-linear-gradient(bottom, #f7f7f7, #e5e5e5);
    background-image: -moz-linear-gradient(bottom, #f7f7f7, #e5e5e5);
    background-image: -ms-linear-gradient(bottom, #f7f7f7, #e5e5e5);
    background-image: -o-linear-gradient(bottom, #f7f7f7, #e5e5e5);
    background-image: linear-gradient(to top, #f7f7f7, #e5e5e5)
}

row{
  margin-top: 10px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

  legend.scheduler-border {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      border-bottom:none;
  }
  .scheduler-border-subTitle{
    font-size: 115%;
    color: #003381;
    font-weight: normal;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
  }
  .legendText{
    font-size: medium;
    color: #003381;
    font-weight: bold;
  }
  label{
    font-weight: 600;
    color: #4E4E4E;
  }
  input[type='radio'] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 5px 5px 0px 5px;
    padding: initial;
    border: initial;
  }
  .requiredLabel {
    margin-right: 2px;
    font-weight: 600;
    color: red;
    vertical-align: top;
  }
  