.nav-link {
    background-color: #fff;
    color: #004276;
    font-weight: 700;
    cursor: pointer;
}
.nav-tabs {
    background-color: #993333;
}
.nav-item {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    color: #004276;
    font-weight: 700;
    cursor: pointer; 
    button {
        border-radius: 10px 10px 0 0;
    }
}

li button:focus{
    background-color: #004276;
    color: #fff;
}

.active{
    background: #004276;
    color: white;
}

.activeClass {
    background: #004276;
    color: white;
}

