<div class="container-fluid">
  <div>
    <h4>User Registration
        <a href="#">
            <!-- <img alt="Dosc to help" src="../../../assets/images/q.gif" /> -->
            <img alt="Dosc to help" src="https://www.ttbonline.gov/formulasonline/images/q.gif" />
          </a>
    </h4>
  </div>

<ul class="nav nav-tabs">
    <li class="nav-item ">
      <button class="nav-link" 
      (click)="forRegistration('main')"
      [ngClass]="{'activeClass': RegistrationChoice == 'main'}"
      >
      Main</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" 
      (click)="forRegistration('company')"
      [ngClass]="{'activeClass': RegistrationChoice == 'company'}"
      >
      Company</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" 
      (click)="forRegistration('comments')"
      [ngClass]="{'activeClass': RegistrationChoice == 'comments'}"
      >
      Comments</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" 
      (click)="forRegistration('docs')"
      [ngClass]="{'activeClass': RegistrationChoice == 'docs'}"
      >
      Docs/Links</button>
    </li>
  </ul>
<div  [ngSwitch]="RegistrationChoice">
<div *ngSwitchCase="'company'">
  <app-company></app-company>
</div>
<div *ngSwitchCase="'comments'">
  <app-comments></app-comments>
</div>
<div *ngSwitchCase="'docs'">
  <h3>This is Docs</h3>
    <app-docs></app-docs>
  </div>
  <div *ngSwitchDefault>
    <app-main-registration></app-main-registration>
  </div>
</div>
</div>

